html(lang="en")
head
  meta(charset="utf-8")
  title = title
  link(rel="stylesheet", href="/stylesheets/rest.css")
  link(rel="stylesheet", href="/stylesheets/search.css")
  link(rel="stylesheet", href="/stylesheets/body.css")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(src="/javascripts/testimage.js")


body
 header
  section#guide
    div.logo
      img(src='/images/SeraphIcon-5-blue.png')
    div.guidebar
      div.searchbar
        form.searchform(method='post')
          div.label Search
          div.searchSelector
            span co-create
            input(type='checkbox',name='create', class='searchOption')
          div.searchSelector 
            span kits
            input(type='checkbox',name='kits', class='searchOption')
          div.searchText
            input(type='text',name='search',id='search',class='searchinput')
          input#go(type='submit', value='go')
      div.breadcrumbs
        ul.crumbs
          li
            a Home
          li
            a Apps
          li.subtitle Seraph Robotics App Store
     
    div.accountDiv
      a.accountButton Jeff's Account
      a.cartButton Cart
      
      
 div#content
    aside
      section#sidebar
        header
           h3 Quick Links
        ul
          -each sideItem in sideItems
           li
             a(href='sideItem.link')=sideItem.txt
    div#mainContent
       section#teaser
        div.mainImage
          a(href=teaserimgs.mainlink)
            img.mainImage(src = teaserimgs.mainimg)
        div.sideImages
          -each teaserimg in teaserimgs.sides
           a(href=teaserimg.link)
             img.sideImage(src =teaserimg.img)
       
       section#AppSelector        
         div
           span Top Apps
         .apps
           -each appdisplay in appdisplays
            .app
              a(href=appdisplay.link)
                img(src=appdisplay.src)
                h4=appdisplay.hdr
                p=appdisplay.txt
                