html(lang="en")
head
  meta(charset="utf-8")
  title = title
  link(rel="stylesheet", href="/stylesheets/rest.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/nav.css")
  link(rel="stylesheet", href="/stylesheets/cv.css")
  
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(src="/javascripts/testimage.js")



body
  header
    hgroup
      h1= title
    nav
      ul
       -each navItem in navItems
        li
         a(href=navItem.link)=navItem.text 
  
  
  div#content
    aside
       section#sideways
         header
           h3=sidebar
         ul
           -each sideItem in sideItems
            li
              a(href=sideItem.link)=sideItem.txt
  
    div#mainContent     
      -each cvType in CV
        section.cvType
         h2=cvType.hdr
         -each cvItem in cvType.cvItems
           div.cvItem
            p=cvItem.citation+' '
             -each linkItem in cvItem.links
              a(src=linkItem.addr)=linkItem.txt+' '





